@inject PlannerService OtusService

<EditForm Model="Department" class="teacher-form">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <label class="teacher-form__label">
        <div>Name:</div>
        <InputText @bind-Value="Department.Name" class="teacher-form__input"/>
    </label>

    <button @onclick="SaveDepartment" class="btn btn-primary">Submit</button>
    <button @onclick="ModalInstance.CancelAsync" class="btn btn-secondary">Cancel</button>
</EditForm>

@code {

    [CascadingParameter] BlazoredModalInstance ModalInstance { get; set; }

    DepartmentModel Department { get; set; }

    protected override void OnInitialized()
    {
        Department = new DepartmentModel();
    }

    void SaveDepartment()
    {
        Department = OtusService.SaveDepartmentAsync(Department).Result;
        ModalInstance.CloseAsync(ModalResult.Ok<DepartmentModel>(Department));
    }

}
